@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}



::selection {
  color: #4299c4;
  text-shadow: 0 0 2px #1d4ed8;
  border-radius: 4px;
}